# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [2]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb://localhost:27017/')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [3]:
# Fetch and display all documents in the 'courses' collection
courses = courses_collection.find()

# Print each document
for course in courses:
    print(course)

{'_id': ObjectId('672b17769cc438991ef8cc40'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b17769cc438991ef8cc41'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672b17769cc438991ef8cc42'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('672b17769cc438991ef8cc43'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3bc'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3bd'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3be'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3bf'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}
{'_id': ObjectId('672e1e39adce9a0f32dcdce8'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672e1e39adce9a0f32dcdce9'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672e1e39adce9a0f32dcdcea'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('672e1e39adce9a0f32dcdceb'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [3]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('672b17769cc438991ef8cc40'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b17769cc438991ef8cc41'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3bc'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3bd'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [4]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('672b17769cc438991ef8cc40'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b17769cc438991ef8cc41'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3bc'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3bd'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [5]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Physics', 'average_enrollment': 15.0}

In [6]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Physics', 'max_enrollment': 15}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [7]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b17769cc438991ef8cc40'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b17769cc438991ef8cc41'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b17769cc438991ef8cc42'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('672b17769cc438991ef8cc43'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3bc'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3bd'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3be'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3bf'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [8]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('672b17769cc438991ef8cc40'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b17769cc438991ef8cc41'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b17769cc438991ef8cc42'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('672b17769cc438991ef8cc43'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3bc'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3bd'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3be'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('672b1d31cc7591f85c5ce3bf'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [9]:

# pipeline agregasi

pipeline = [

    {'$group': {'_id': '$department', 'count': {'$sum': 1}}},

    {'$sort': {'count': -1}}

]


# Execute the aggregation and print results

for doc in courses_collection.aggregate(pipeline):

    print(f"{doc['_id']}: {doc['count']} kursus")

Physics: 2 kursus
Mathematics: 2 kursus
Computer Science: 2 kursus
History: 2 kursus

In [10]:

# Pipeline using $match and $group

pipeline = [

    {'$match': {

        'department': 'Computer Science',

        'enrollment': {'$gt': 25}

    }},

    {'$group': {

        '_id': None,

        'count': {'$sum': 1},

        'courses': {'$push': '$name'}

    }}

]


# Execute the aggregation and print results

result = list(courses_collection.aggregate(pipeline))


if result:

    print(f"Courses in Computer Science with over 25 enrollments: {result[0]['count']}")

    print("Course names:")

    for course in result[0]['courses']:

        print(f"- {course}")

else:

    print("No courses found matching the criteria.")

No courses found matching the criteria.

In [13]:
# Pipeline using $lookup to join courses with students

pipeline = [

    {

        '$lookup': {

            'from': 'students',

            'let': {'course_id': '$_id'},

            'pipeline': [

                {'$match': 

                    {'$expr': 

                        {'$in': ['$$course_id', '$enrolled_courses']}

                    }

                },

                {'$project': {

                    '_id': 1,

                    'name': 1,

                    'email': 1

                }}

            ],

            'as': 'enrolled_students'

        }

    },

    {

        '$addFields': {

            'enrollment': {'$size': '$enrolled_students'}

        }

    }

]


# Execute the aggregation and print results

results = courses_collection.aggregate(pipeline)


for course in results:

    print("\nCourse Details:")

    for key, value in course.items():

        if key != 'enrolled_students':

            print(f"{key}: {value}")

    

    print(f"Total Enrollment: {course['enrollment']}")

    print("Enrolled Students:")

    for student in course['enrolled_students']:

        print(f"- {student.get('name', 'N/A')} ({student.get('email', 'N/A')})")

Course Details:
_id: 672b17769cc438991ef8cc40
course: Math 101
enrollments: 30
department: Mathematics
enrollment: 0
Total Enrollment: 0
Enrolled Students:

Course Details:
_id: 672b17769cc438991ef8cc41
course: CS 102
enrollments: 25
department: Computer Science
enrollment: 0
Total Enrollment: 0
Enrolled Students:

Course Details:
_id: 672b17769cc438991ef8cc42
course: History 201
enrollments: 20
department: History
enrollment: 0
Total Enrollment: 0
Enrolled Students:

Course Details:
_id: 672b17769cc438991ef8cc43
course: Physics 202
enrollments: 15
department: Physics
enrollment: 0
Total Enrollment: 0
Enrolled Students:

Course Details:
_id: 672b1d31cc7591f85c5ce3bc
course: Math 101
enrollments: 30
department: Mathematics
enrollment: 0
Total Enrollment: 0
Enrolled Students:

Course Details:
_id: 672b1d31cc7591f85c5ce3bd
course: CS 102
enrollments: 25
department: Computer Science
enrollment: 0
Total Enrollment: 0
Enrolled Students:

Course Details:
_id: 672b1d31cc7591f85c5ce3be
course: History 201
enrollments: 20
department: History
enrollment: 0
Total Enrollment: 0
Enrolled Students:

Course Details:
_id: 672b1d31cc7591f85c5ce3bf
course: Physics 202
enrollments: 15
department: Physics
enrollment: 0
Total Enrollment: 0
Enrolled Students: